<ion-header [translucent]="true" >
  <ion-toolbar color="primary" mode="ios">
    <ion-title >
      Weather Forecast
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="input-bar">
    <ion-input label="Place" label-placement="floating" fill="outline" #searchPlace (input)="setSearchPlace(searchPlace.value)"></ion-input>
    <ion-button color="warning" (click)="getPlaceWeather(placeName)" ><ion-icon name="search-outline"></ion-icon></ion-button>
  </div>
  <div>
    <div class="location">{{responsePlace}}, {{country}}</div>
  </div>
  <ion-card  *ngFor="let weather of weatherList">
    <div style="display: flex; padding: 13px 16px 0px 16px;">
      <div>
        <!-- Days Icons -->
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '01d' " class="weather-icon" name="sunny-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '02d' " class="weather-icon" name="partly-sunny-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf=" weather?.weather[0]?.icon == '03d' " class="weather-icon" name="cloud-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '04d' " class="weather-icon" name="cloud-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '09d' " class="weather-icon" name="rainy-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '10d' " class="weather-icon" name="rainy-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '11d' || weather?.weather[0]?.icon == '11n'" class="weather-icon" name="thunderstorm-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '13d' || weather?.weather[0]?.icon == '13n'" class="weather-icon" name="snow-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '50d' || weather?.weather[0]?.icon == '50n'" class="weather-icon" name="cloud-offline-outline"></ion-icon>
    

    <!-- Night Icons -->
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '01n' " class="weather-icon" name="moon-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '02n' " class="weather-icon" name="cloudy-night-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '03n' " class="weather-icon" name="cloud-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '04n' " class="weather-icon" name="cloud-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '09n' " class="weather-icon" name="cloud-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '09n' " class="weather-icon" name="rainy-outline"></ion-icon>
    <ion-icon style="height: 3rem; width: 3rem;" *ngIf="weather?.weather[0]?.icon == '10n' " class="weather-icon" name="rainy-outline"></ion-icon>
      </div>
      <div style="margin-left: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;">
        <ion-card-title style="display: block; width: 100%;"><div>{{weather?.main?.temp}}°C</div><div style="font-size: 0.8rem;">{{weather?.dt_txt}}</div></ion-card-title>
        <ion-card-subtitle>Feels Like {{weather?.main?.feels_like}}°C</ion-card-subtitle>
      </div>
      
    </div>
  
    <ion-card-content style="font-size: 1.2rem; font-weight: 600;">
      {{weather?.weather[0]?.description}}
    </ion-card-content>
  </ion-card>
</ion-content>
